.card {

}

.cardfield_key {
    display: none;
    position: relative;

}

.cardfield_val {

}

.cardfield_item {

}

.board {

}

.crudBoard {

}

.actions {

}

.actionIcon{
    width: 32px;
    height: 32px;

}